body {
    width: 100%;
    font-family: Consolas, 微軟正黑體;
}
.webtitle {
    padding: 20px;
    background-color: #676674;
    color: #BDB3B1;
}
.main {
    margin-top: 10px;
    margin-bottom: 10px;
}
.custom-select {
    color: #9EA7AE;
    border-color: #D2CFCA;
    background-size: 5px 10px;
}
.card {
    width: 100px;
    height: 100px;
}
.col {
    padding: 5px;
}
.card-header {
    font-size: 8px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.col_img_size16 {
    width: 16px;
}
.col_img_size24 {
    width: 24px;
}
.col_img_size32 {
    width: 32px;
}
.col_img_size48 {
    width: 48px;
}
.col_img_size64 {
    width: 64px;
}
.col_img_size128 {
    width: 128px;
}
.col_img_size256 {
    width: 256px;
}
.badge {
    padding-top: 10px;
    font-size: 100%;
    background-color: #CEACBC;
}

/*之後用不到刪了*/
.btn-1 {
    color: #FFFFFF;
    background-color: #113F8C;
    border-color: #113F8C;
}
.btn-2 {
    color: #FFFFFF;
    background-color: #01A4A4;
    border-color: #01A4A4;
}
.btn-3 {
    color: #FFFFFF;
    background-color: #00A1CB;
    border-color: #00A1CB;
}
.btn-4 {
    color: #FFFFFF;
    background-color: #61AE24;
    border-color: #61AE24;
}
.btn-5 {
    color: #FFFFFF;
    background-color: #D0D102;
    border-color: #D0D102;
}
.btn-6 {
    color: #FFFFFF;
    background-color: #32742C;
    border-color: #32742C;
}
.btn-7 {
    color: #FFFFFF;
    background-color: #D70060;
    border-color: #D70060;
}
.btn-8 {
    color: #FFFFFF;
    background-color: #E54028;
    border-color: #E54028;
}
.btn-9 {
    color: #FFFFFF;
    background-color: #F18D05;
    border-color: #F18D05;
}
.btn-10 {
    color: #FFFFFF;
    background-color: #616161;
    border-color: #616161;
}