body {
    width: 100%;
    font-family: Consolas, 微軟正黑體;
    background-color: #f1e0d6;
}
.webtitle {
    padding: 20px;
    background-image: url("image/webtitle.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 1920px;
    background-color: #595775;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 1071;
    text-align: center;
}
.colgroup {
    display: inline-flex;
    flex-wrap: wrap;
    width: 70%;
}
.colgroup div {
    padding-bottom: 1px;
    padding-right: 3px;
}
.form-control {
    border-color: #aba6bf;
}
.container {
    max-width: 100%;
    max-height: calc(100Vh - 130px);
    overflow-y: auto;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.modal.show {
    z-index: 1073;
}
.modal-backdrop {
    z-index:1072;
}
.modal-header {
    border-bottom: 0px;
}
.modal-footer {
    border-top: 0px;
}
.custom-select {
    color: #595775;
    border-color: #aba6bf;
    background-size: 5px 10px;
    width: 100%;
}
.btn {
    height: 100%;
    background-color: #bf988f;
    border-color: #bf988f;
    color: #ffffff;
}
.card {
    width: 100px;
    height: 100px;
    border-color: #aba6bf;
}
.card-header {
    font-size: 8px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    background-color: #EAD9D5;
    border-bottom: 1px solid #aba6bf;
}
.card-content {
    text-align: center;
    padding-top: 5px;
    font-size: 6px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.card_white {
    background-color: #bf988f;
}
.col {
    padding: 5px;
    flex-grow: 0;
}
.col-10, .col-7, .col-4, .col-1 {
    padding-left: 2px;
    padding-right: 2px;
    max-width: 40%;
}
.col_img_size48 {
    width: 48px;
    cursor: pointer;
}
.badge {
    padding: 10px 0px;
    font-size: 11pt;
    background-color: #bf988f;
    height: 100%;
    width: 100%;
}
.openimg {
    border-radius: .25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.openimg img {
    max-width: 450px;
}
.openimg_path {
    padding: 5px;
    font-size: 8px;
    text-align: center;
}